<h1 id="host" class="anchor"><a href="#host"><i class="fas fa-link anchor-icon"></i></a> Secure Hosting Providers</h1>

{% include cardv2.html
  title="VPS Hosting: BuyVM"
  image="https://github.com/kasperireland/images/blob/main/New%20Project%20-%202021-08-31T181500.521.png?raw=true"
  image-dark="https://github.com/kasperireland/images/blob/main/New%20Project%20-%202021-08-31T181500.521.png?raw=true"
  description="BuyVM is part of Frantech Solutions, a pioneer of the affordable virtual server market since 2010. BuyVM supports free speech and respects your privacy. BuyVM accepts PayPal, Credit/Debit Cards, CryptoCurrency, WebMoney, and more."
  website="https://www.buyvm.net/"
  forum="https://buyvm.net/beware-the-moshbear/"
%}

{% include cardv2.html
  title="Web/VPS Hosting: Webdock"
  image="https://github.com/kasperireland/images/blob/main/New%20Project%20-%202021-08-31T185009.827.png?raw=true"
  image-dark="/assets/img/svg/3rd-party/njalla-dark.svg"
  description="WARNING, WEBDOCK PROVIDES A USA LOCATION, BUT THE EU LOCATION IS RECOMMENDED FOR PRIVACY. Webdock provides virtual servers (LXD Containers) that eliminates the need for 3rd party tools like cPanel. Manage your databases, files, shell users, etc, all from one central control panel."
  website="https://webdock.io"
  labels="color==warning::link==https://webdock.io/en#pricing::text==Warning::tooltip==Do not select their USA Location if you are focusing on privacy. Use their EU/Finland Location, located in a Hetzner Datacenter."
%}

