<div class="page-header">
  <h1 id="participate" class="anchor"><a href="#participate"><i class="fas fa-link anchor-icon"></i></a> Participate with suggestions and constructive criticism</h1>
</div>

<p>{{ site.name }} is by no means perfect and we are always looking for new ideas, and privacy-respecting alternatives. If you would like to send us a message regarding {{ site.name }} whether it is to report incorrect content or to make a suggestion, you can use one of the contact methods below.</p>

<div class="row">

  {% include card.html color="success"
  title="Email"
  image="https://github.com/kasperireland/images/blob/main/New%20Project%20-%202021-08-30T211729.863.png?raw=true"
  url="mailto:hello@privacy.promo"
  website="Email Us"
  extra_button='<!-- <a class="btn btn-success mb-1" href="https://www.reddit.com/r/privacytoolsIO/">Reddit</a> -->'
  description='Send us an email to suggest something or any of your concerns. We respond within 72hrs.'
  %}

  {% include card.html color="primary"
  title="SMS/Text Message"
  image="https://github.com/kasperireland/images/blob/main/New%20Project%20-%202021-08-30T211522.472.png?raw=true"
  url="tel:5612472619"
  website="Text Us"
  extra_button='<!-- <a class="btn btn-primary mb-1" href="https://twitter.com/privacytoolsIO">Twitter</a> -->'
  description="Shoot us a text/message at any time and we usually will respond within 72 hours!"
  %}

  {% include card.html color="warning"
  title="Open a GitHub Issue"
  font="fab fa-github"
  url="https://github.com/kasperireland/privacypromo/issues"
  website="GitHub Issues"
  description="Open an issue on our GitHub Repository regarding any of your concerns or suggestions."
  extra_button='<!-- <a class="btn btn-warning mb-1" href="https://github.com/privacytools/privacytools.io/graphs/contributors">Contributor List</a> -->'
  %}

</div>