<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> Pastebin Services</h1>

{% include cardv2.html
title="PrivateBin"
image="/assets/img/svg/3rd-party/privatebin.svg"
description="PrivateBin is a minimalist, open-source online pastebin where the server has zero knowledge of pasted data. Data is encrypted/decrypted in the browser using 256-bit AES. It is the improved version of ZeroBin."
website="https://privatebin.info/"
github="https://github.com/PrivateBin/PrivateBin"
%}


{% include cardv2.html
title="CryptPad"
image="/assets/img/svg/3rd-party/cryptpad.svg"
description="CryptPad is an open-source, zero knowledge, and real-time collaborative editor. Data is encrypted/decrypted in the browser, using Salsa20 with Poly1305 to encrypt pads."
website="https://cryptpad.fr/pad/"
privacy-policy="https://cryptpad.fr/privacy.html"
github="https://github.com/xwiki-labs/cryptpad"
%}

{% include cardv2.html
title="Pinnwand"
image="https://github.com/kasperireland/images/blob/main/New%20Project%20-%202021-08-31T192344.778.png?raw=true"
description="Pinnwad is a privacy-respecting minimal pastebin software written in Python. It's open-source with the source code being available on GitHub. Pinnwad lets you select expiration dates & a longer URL to increase security."
website="https://supakeen.com/project/pinnwand/"
github="https://github.com/supakeen/pinnwand"
%}
