<h1 id="os" class="anchor">Privacy-focused Tools</h1>

<div class="row">

  {% include card.html color="success"
  title="Service Providers"
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description="Discover privacy-oriented online services, including email providers, VPN platforms, DNS providers, and more."
  %}

  {% include card.html color="success"
  title="Web Browsers"
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description="Discover privacy-respecting modern web browsers that have countless privacy and security features built in to them."
  %}

  {% include card.html color="success"
  title="Software"
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description="Discover a plethora of high quality & open source software to protect your privacy and keep your online data secure."
  %}

  {% include card.html color="success"
  title="Operating Systems"
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description="Your current operating system may be collecting information from you behind your back. See privacy-first alternatives."
  %}
  
  {% include card.html color="success"
  title="Participate"
  icon="fas fa-code-branch"
  iconcolor="dark"
  page="https://privacy.promo/index.html#participate"
  description="Contribute to PrivacyPromo with suggestions and constructive criticism. You can contact us via Email, SMS, or GitHub."
  %}

</div>
