<h1 id="os" class="anchor">Privacy Tools</h1>

<div class="row">

  {% include card.html color="success"
  title="Service Providers"
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description="Discover privacy-oriented online services, including email providers, VPN platforms, DNS providers, and more."
  %}

  {% include card.html color="primary"
  title="Web Browsers"
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description="Discover privacy-respecting modern web browsers that have countless privacy and security features built in."
  %}

  {% include card.html color="warning"
  title="Software"
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description="Discover a plethora of quality & open source software to protect your privacy and keep your data secure."
  %}

  {% include card.html color="info"
  title="Operating Systems"
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description="Your current operating system may be collecting information from you behind your back. See privacy-first alternatives."
  %}

  {% include card.html color="secondary"
  title="PrivacyPromo Services"
  icon="far fa-eye-slash"
  iconcolor="dark"
  page="/services/"
  description="PrivacyPromo and Swivro have partnered together to offer several privacy-respecting online services."
  %}

  {% include card.html color="danger"
  title="Donate"
  icon="fas fa-donate"
  iconcolor="dark"
  page="/donate/"
  description="Donations are not required but are appreciated, as it helps us work on this site often & renew our domain name."
  %}

</div>
